@font-face {
    font-family: typewriter;
    src: url("../Fonts/veteran_typewriter.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'typewriter', serif;

}

.scpHeader{
    color: #901;
}

.scpPortrait{
    float: right;
    border: solid 1px #666;
    box-shadow: 0 1px 6px rgba(0,0,0,.25);
}

.scpSection{
    line-height: 141%;
    margin: 10px;
}
